<crud>
    <div picture>
        <img class="img-top" src="assets/logos/nollep2018.png" alt="Card image cap">
        <!-- <div class="card-body">
        </div> -->
    </div>
    <div text>
        <div class="col-md-12">
            <h3>Dagens Aktivitet</h3>
            <br />
            <!-- Image Wide Screen -->
            <div class="d-none d-sm-block">
                <img class="col-md-12 col-lg-12 mx-auto d-block" src="/assets/poster.png">
            </div>
            <!-- Image Phone -->
            <div class="d-sm-none">
                <img class="col-xs-1 col-sm-1 mx-auto d-block" src="/assets/poster.png">
            </div>
        </div>
    </div>
</crud>