<div class="container-fluid crimson-bg" style="padding-bottom: 30px; margin-top:20px;">
	<div class="row justify-content-md-center align-items-start">
		<div class="d-none d-sm-block col-sm-2 col-md-2 col-lg-2 side-container box-shadow">
			<social-medias></social-medias>
			<div class="arrow">
				<p>Sponsorer</p>
			</div>
			<div class="row" style="margin-top: 10px; margin-bottom: 10px;">
				<div *ngFor="let image of sponsImgs; let i = index">
					<div class="col-lg-6">
						<img class="sponsor-img side-lg-screen" src="{{image}}" alt="Card image cap">
					</div>
				</div>
			</div>
			<div class="arrow">
				<p>Samarbetspartners</p>
			</div>
			<div class="row" style="margin-top: 10px;">
				<div *ngFor="let image of coWorkersImgs; let i = index">
					<div class="col-lg-6">
						<img class="sponsor-img side-lg-screen" src="{{image}}" alt="Card image cap">
					</div>
				</div>
			</div>
		</div> 
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 main-container box-shadow marginsLR">
			<br>
			<br>
			<br>
			<ng-content select="[text]"></ng-content>
			<br>
		</div>
		<!-- MENU PC -->
		<div class="d-none d-sm-block col-sm-2 col-md-2 col-lg-2 side-container box-shadow">
			<div style="margin: 10px 0 10px">
				<div class="btn-group btn-block">
					<button class="btn btn-danger" disabled="false">
						<span class="fas fa-person-booth" style="color: #000"></span>
					</button>
					<button class="btn btn-block btn-outline-danger" routerLink="/vote" routerLinkActive="active">
						Rösta
					</button>
				</div>
				<div class="btn-group btn-block">
					<button class="btn btn-danger" style="width: 44px;" disabled="false">
						<span class="fas fa-exclamation gold-gradient" style="color: gold"></span>
					</button>
					<button class="btn btn-block btn-outline-danger" routerLink="/activity" routerLinkActive="active">
						Aktivitet
					</button>
				</div>
				<div class="btn-group btn-block">
					<button class="btn btn-danger" disabled="false">
							<span class="fas fa-trophy gold-gradient" style="color: gold"></span>
					</button>
					<button class="btn btn-block btn-outline-danger" routerLink="/scoreboard" routerLinkActive="active">
						Nollekampen
					</button>
				</div>
				<div class="btn-group btn-block">
					<button class="btn btn-danger" disabled="false">
						<span class="fas fa-home" style="color: #000"></span>
					</button>
					<button class="btn btn-block btn-outline-danger" routerLink="/home" routerLinkActive="active">
						Hem
					</button>
				</div>
				<div class="btn-group btn-block">
					<button class="btn btn-danger" disabled="false">
						<span class="fas fa-users" style="color: #000"></span>
					</button>
					<button class="btn btn-block btn-outline-danger">
						Brev Till Nollan!
					</button>
				</div>
				<div class="btn-group btn-block">
					<button class="btn btn-danger" disabled="false">
						<span class="fas fa-users" style="color: #000"></span>
					</button>
					<button class="btn btn-block btn-outline-danger" routerLink="/new-student" routerLinkActive="active">
						Ditt Nolle-P
					</button>
				</div>
				<div class="btn-group btn-block">
					<button class="btn btn-danger" disabled="false">
						<span class="fas fa-gamepad" style="color: #000"></span>
					</button>
					<button class="btn btn-block btn-outline-danger">
						Spel
					</button>
				</div>
			</div>
		</div>
		<!-- sideS ON CELLPHONE #3B5998 #125688 -->
		<div class="d-sm-none col-xs-1 col-sm-1 side-container box-shadow marginsLR" style="margin-top: 30px;">
			<social-medias></social-medias>
			<div class="arrow">
				<p>Sponsorer</p>
			</div>
			<div *ngFor="let image of sponsImgs; let i = index" style="display: inline-block">
				<img class="sponsor-img side-phone" src="{{image}}">
			</div>
			<div class="arrow">
				<p >Samarbetspartners</p>
			</div>
			<div *ngFor="let image of coWorkersImgs; let i = index" style="display: inline-block">
				<img class="sponsor-img side-phone" src="{{image}}">
			</div>
		</div>
	</div>
</div>
