@icon-color: #33B0FF;

h1 {
    color: white;
}

h5 {
    color: white;
}

h6 {
    color: white;
}

p {
    color: #fff; 
}

ul > li {
    color: white;
}

hr {
    background-color: white;
}

.social-divider-container {
    background-color: white;
    width: 325px; 
    margin-top: 5px;
}

.main-container {
    background-color: rgba(232, 238, 240, 0.05);
    min-height: 90vh;
}

.side-container {
    background-color: rgba(232, 238, 240, 0.05);

    .fa-home{
        color: @icon-color;
    }
    .fa-users{
        color: @icon-color;
    }
    .fa-gamepad{
        color: @icon-color;
    }
    .fa-person-booth{
        color: @icon-color;
    }
}

.box-shadow {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5), 0 8px 22px 0 rgba(0, 0, 0, 0.5);
}

/* LARGE SCREEN LAYOUT */

.marginsLR {
    margin-left: 10px; 
    margin-right: 10px;
}

.side-lg-screen {
    margin-bottom: 3px; 
    padding: 5px; 
    padding-left: 10px; 
    padding-right: 10px;
}

.arrow-left-top {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid #c1272d;
    border-bottom: 30px solid #c1272d;
}

.arrow-right-top {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid #c1272d;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #c1272d;
}

.arrow-left-bottom {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid #c1272d;
    border-top: 30px solid #c1272d;
}

.arrow-right-bottom {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid #c1272d;
    border-right: 30px solid transparent;
    border-top: 30px solid #c1272d;
}
.colorVote { border-left: 3px solid red; }
.colorActivity { border-left: 3px solid green; }
.colorNollekampen { border-left: 3px solid yellow; }
.colorHome { border-left: 3px solid blue; }
.colorYourNollep { border-left: 3px solid yellowgreen; }
.colorGame { border-left: 3px solid black; }

.button-styling {
    // text-decoration: overline underline  #ff1a68;
    // border-left: 3px solid #ff1a68;
    // border-bottom: 3px solid #ff1a68;
    display: block;
    text-align: left;

    &>span {
        padding: 0.5em 1em;
        color: white;
        font-size: 2rem;

        &:hover {
            color: grey
        }
    }
}

/* PHONE LAYOUT */

@media screen and (max-width: 600px) {
	a {
        margin: 0 10px 0 0;
    }
}

.side-phone {
    width: 100px; 
    height: auto; 
    margin-bottom: 10px; 
    margin-left: 20px; 
    padding: 5px; 
    padding-left: 10px; 
    padding-right: 10px;
}

.sponsor-img {
    width: 14vh;
    margin-left: -16px
}

.arrow {
    position: relative;
    border-left:  22px solid rgba(238, 21, 68, 0.85);
    border-right: 22px solid transparent;
    border-top:   22px solid rgba(238, 21, 68, 0.85);
    margin: 0 -15px 0 -15px;

    > p {
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-15px, -25px);
        @media screen and (max-width: 600px) {
            transform: translate(-15px, -24px);
        }
    }
}