@icon-color: #33B0FF;

h1 {
    color: #fff;
}

h2 {
    color: #fff;
}

h3 {
    color: #fff;
}

h5 {
    color: #fff;
}

h6 {
    color: #fff;
}

p {
    color: #fff;
}

ul > li {
    color: #fff;
}

hr {
    background-color: #fff;
}

.social-divider-container {
    background-color: #fff;
    width: 325px; 
    margin-top: 5px;
}

.main-container {
    background-color: rgba(23, 45, 63, 0.3);
    min-height: 90vh;
}

.side-container {
    background-color: rgba(23, 45, 63, 0.7);

    .fa-home{
        color: @icon-color;
    }
    .fa-users{
        color: @icon-color;
    }
    .fa-gamepad{
        color: @icon-color;
    }
    .fa-person-booth{
        color: @icon-color;
    }
}

.box-shadow {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5), 0 8px 22px 0 rgba(0, 0, 0, 0.5);
}

/* LARGE SCREEN LAYOUT */

.marginsLR {
    margin-left: 10px; 
    margin-right: 10px;
}

.side-lg-screen {
    margin-bottom: 3px; 
    padding: 5px; 
    padding-left: 10px; 
    padding-right: 10px;
}

.arrow-left-top {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid #c1272d;
    border-bottom: 30px solid #c1272d;
}

.arrow-right-top {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid #c1272d;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #c1272d;
}

.arrow-left-bottom {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid #c1272d;
    border-top: 30px solid #c1272d;
}

.arrow-right-bottom {
    z-index: -1;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid #c1272d;
    border-right: 30px solid transparent;
    border-top: 30px solid #c1272d;
}

.button-styling {
    // text-decoration: overline underline  #ff1a68;
    // border-left: 3px solid #ff1a68;
    // border-bottom: 3px solid #ff1a68;
    display: block;
    text-align: left;

    &>span {
        padding: 0.5em 1em;
        color: #fff;
        font-size: 2rem;

        &:hover {
            color: grey
        }
    }
}

/* PHONE LAYOUT */

@media screen and (max-width: 600px) {
	a {
        margin: 0 10px 0 0;
    }
}

.menu-title-text {
    top: 0;
    font-size: 25px;
    margin-top: 5px;
}

.side-phone {
    width: 100px; 
    height: auto; 
    margin-bottom: 10px; 
    margin-left: 20px; 
    padding: 5px; 
    padding-left: 10px; 
    padding-right: 10px;
}

.sponsor-img {
    width: 14vh;
    margin-left: -16px
}

.arrow {
    position: relative;
    border-left:  22px solid rgba(238, 21, 68, 0.85);
    border-right: 22px solid transparent;
    border-top:   22px solid rgba(238, 21, 68, 0.85);
    margin: 0 -15px 0 -15px;

    > p {
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-15px, -25px);
        @media screen and (max-width: 600px) {
            transform: translate(-15px, -24px);
        }
    }
}

//////////////// DOOD ////////////////
.cph-card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    box-shadow: 0 25px 30px rgba(0, 0, 0, .5);
    overflow: hidden;

    a {
        color: #fff;
        text-decoration: none;
    }

    .title {
        margin-top: 80px;
        text-align: center;
    }

    .front h1, .front h2, 
    .front h3, .front a {
        color: #000;
    }

    .front span, .right span,
    .back span, .left span {
        position: absolute;
        top: 0;
        left: -80%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, .2);
        transform: skewX(-10deg);
    }

    .front {
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #E91E63, #ed55ff);
        padding: 30px;
        border-radius: 20px;
        overflow: hidden;
        box-sizing: border-box;
        transition: .5s;
        transform-origin: right;
        transform: translateX(0) rotateY(0);
    }

    .right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #262626, #989898);
        padding: 30px;
        border-radius: 20px;
        overflow: hidden;
        box-sizing: border-box;
        transition: .5s;
        transform-origin: left;
        transform: translateX(100%) rotateY(90deg);
    }

    .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #262626, #989898);
        padding: 30px;
        border-radius: 20px;
        overflow: hidden;
        box-sizing: border-box;
        transition: .5s;
        transform-origin: left;
        transform: translateX(100%) rotateY(90deg);
    }

    .left {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #8b0000, #4c4c4c, #000);
        padding: 30px;
        border-radius: 20px;
        overflow: hidden;
        box-sizing: border-box;
        transition: .5s;
        transform-origin: left;
        transform: translateX(100%) rotateY(90deg);
    }
}

.next {
    cursor: pointer;
    text-align: right;
    font-size: 24px;
    color: #fff;
    display: block;
}

.previous {
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}

.shadow {
    background: linear-gradient(0deg, #000, #262626);
    &:before, &:after {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
        background-size: 400%;
        width:  calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: animate 20s linear infinite;
    }

    &:after {
        filter: blur(20px);
    }
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    
    50% {
        background-position: 300% 0;
    }

    100% {
        background-position: 0 0;
    }
}