<div class="container-fluid crimson-bg">
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 sponsor-container box-shadow">
		<p style="margin-bottom: 3px">Våra sponsorer</p>
		<div *ngFor="let image of images; let i = index">
			<hr style="margin-top: 5px; margin-bottom: 8px;"/>
			<img class="card-img-top" style="margin-bottom: 3px; padding: 5px; padding-left: 10px; padding-right: 10px; background-color: darkgrey;" src="{{image}}" alt="Card image cap">
		</div>
	</div>
	<div class="row justify-content-md-center">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 main-container box-shadow">
			<br />
			<ng-content select="[picture]"></ng-content>
			<br />
			<br />
			<ng-content select="[text]"></ng-content>
		</div>
	</div>
</div>
