<crud>
	<div class="card" picture>
		<div class="card" style="background-color: darkgrey" picture>
			<img class="img-top" src="assets/logos/nollep2018.png" alt="Card image cap">
			<!-- <div class="card-body">
			</div> -->
		</div>
	</div>
	<div text>
		<div class="container">
			<div class="col-md-12 justify-content-md-center" style="text-align: center;">
				<div class="coin gold"></div>
				<p style="margin-bottom:0px;"><u>{{scores[0].class}}</u></p><p>{{scores[0].score}}</p>
			</div>
			<div class="row justify-content-md-center" style="text-align: center;">
				<div class="col-md-6">
					<div class="coin silver"></div>
					<p style="margin-bottom:0px;"><u>{{scores[1].class}}</u></p>  <p>{{scores[1].score}}</p>
				</div>
				<div class="col-md-6">
					<div class="coin bronze" style="margin-top:25px;"></div>
					<p style="margin-bottom:0px;"><u>{{scores[2].class}}</u></p>  <p>{{scores[2].score}}</p>
				</div>
			</div>
			<div class="row justify-content-md-center" style="margin-top: 20px;" >
				<div *ngFor="let item of scores | slice:3; let i = index" class="col-md-12 col-lg-3" style="text-align: center">
					<p style="margin-bottom:0px;"><u>{{i+3}}: {{item.class}}</u></p>  <p>{{item.score}}</p>
				</div>
			</div>
		</div>
	</div>
</crud>