<crud>
    <div class="card" picture>
        <img class="card-img-top" style="height: 30vh;" src="./../../../assets/test.png" alt="Card image cap">
        <div class="card-body">
        </div>
    </div>
    <div text>
        <h1>Home Works!</h1>
        <p>
            Lorem ipsum dolor Curabitur in neque malesuada, vehicula nunc a, cursus diam. Aenean eu odio nec lorem ullamcorper bibendum eu et nisi. 
            Sed eu libero sodales massa ultricies hendrerit at nec orci. Nullam sed risus risus. Nunc pulvinar vehicula consequat. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </div>
</crud>