@fontSizePc: 20px;
@backgroundPcHeight: 45px;
@backgroundPcWidth:  35px;
@transformPc:        translate(-50%, 176%);

@fontSizeMobile: 35px;
@backgroundMobileHeight: 55px;
@backgroundMobileWidth:  45px;
@transformMobile:        translate(-115%, 235%);

h1 {
    color: white;
}

h5 {
    color: white;
}

h6 {
    color: white;
}

p {
    color: white;
}

hr {
    background-color: white;
}

.fab {
    color: white;
    font-size: @fontSizePc;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 600px) {
        font-size: @fontSizeMobile;
    }

    &:hover {
        text-decoration: none;
    }
}

.fa-discord {
    color: white;
}

.social-background {
    border-radius: 80%;
	width: @backgroundPcWidth;
    height: @backgroundPcHeight;
    box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
    z-index:10;
    transform-origin:bottom center;

    @media screen and (max-width: 600px) {
        height: @backgroundMobileHeight;
        width:  @backgroundMobileWidth;
    }

    display:inline-block;
    margin-right: 8px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);

    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}

.social-background.facebook:before {
    content:"▲";
    font-size: 12px;
    color: #007bff;
    display: inline-block;
    text-align: center;
    transform: @transformPc;

    @media screen and (max-width: 600px) {
        transform: @transformMobile;
    }
}

.social-background.instagram:before {
    content:"▲";
    font-size: 12px;
    // background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #fdf497;
    display: inline-block;
    text-align: center;
    transform: @transformPc;

    @media screen and (max-width: 600px) {
        transform: @transformMobile;
    }
}

.social-background.discord:before {
    content:"▲";
    font-size: 12px;
    color: #4a67cf;
    display: inline-block;
    text-align: center;
    transform: @transformPc;

    @media screen and (max-width: 600px) {
        transform: @transformMobile;
    }
}

.social-background.facebook {
    background: #007bff;
}

.social-background.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.social-background.discord {
    background: #4a67cf;
}

.arrow {
    position: relative;
    border-left:  22px solid rgba(238, 21, 68, 0.85);
    border-right: 22px solid transparent;
    border-top:   22px solid rgba(238, 21, 68, 0.85);
    margin: 0 -15px 0 -15px;

    > p {
        position: absolute;
        left: 0;
        top: 0;
        
        transform: translate(-15px, -25px);
        @media screen and (max-width: 600px) {
            transform: translate(-15px, -24px);
        }
    }
}