<!-- <p style="margin-bottom: 3px">Media</p> -->
<hr style="margin-top: 5px; margin-bottom: 8px;"/>
<div style="margin-bottom: 8px" class="row justify-content-center">
  <div class="social-background facebook">
    <a href="https://www.facebook.com/NolleperiodenSkelleftea2018/" class="fab fa-facebook"></a>
  </div>
  <div class="social-background instagram">
    <a href="https://www.instagram.com/nollep2018/" class="fab fa-instagram"></a>
  </div>
  <div class="social-background discord">
    <a href="" class="fab fa-discord"></a>
  </div>
</div>