<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<!-- <h1 class="navbar-brand"></h1> -->
	<section class="avengers-font">
        <header>
			<h1>NollePerioden 2018</h1>
        </header>
	</section> 
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		<span class="navbar-toggler-icon"></span>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		<li class="nav-item">
			<a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only"></span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/new-student" routerLinkActive="active">Ny Student <span class="sr-only"></span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/info" routerLinkActive="active">Info <span class="sr-only"></span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/scoreboard" routerLinkActive="active">Poängtavla <span class="sr-only"></span></a>
		</li>
		<div class="squareOne"></div>
		<div class="squareTwo"></div>
		<!-- <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Dropdown
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="#">Action</a>
			<a class="dropdown-item" href="#">Another action</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">Something else here</a>
			</div>
		</li> -->
		<!-- <li class="nav-item">
			<a class="nav-link disabled" href="#">Disabled</a>
		</li> -->
		</ul>
		<!-- <form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form> -->
	</div>
</nav>

<img class="bg-image" src="./../assets/download.png">

<router-outlet></router-outlet>
