@media screen and (min-width: 600px) {
    .menu-mobile {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }

    .navbar-nav > li {
        display: inline-block;
        float: none;
        transform: translateY(100%);
        background-color: #343a40;
        border-bottom: 3px solid white;
        box-sizing:border-box
    }
    
    .square {
        width: 60px;
        height: 40px;
        background-color: #343a40;
        position: absolute;
        border-bottom: 3px solid white;
        z-index: -1;
    }
    
    .squareLeft {
        transform: translateX(-75%) translateY(-119%) rotate(45deg);
    }
    
    .squareRight {
        transform: translateX(132%) translateY(-118%) rotate(-45deg);
    }
}

@media screen and (max-width: 600px) {
    .menu-none-mobile {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }

    .navbar-nav > li {
        background-color: #343a40;
    }
    
    .square {
        width: 60px;
        height: 40px;
        background-color: #343a40;
        position: absolute;
        border-bottom: 3px solid white;
        z-index: -1;
    }
    
    .squareLeft {
        transform: translateX(-75%) translateY(-119%) rotate(45deg);
    }
    
    .squareRight {
        transform: translateX(132%) translateY(-118%) rotate(-45deg);
    }
}

.navbar {
    border-bottom: 3px solid white;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.menu-mobile > a {
    float: none;
    background-color: #343a40;   
}

/* Font Setup*/

.font header {
    transform: translateX(-50%) translateY(-40%);
    left: 50%;
    position: absolute;
    display: inline-block;
}

.main-font {
    color: #fff;
    font-size: 3rem;
    font-family: jurrasic-park;
}

.year-font {
    color: #fff;
    font-size: 1rem;
    font-family: star-jedi;
}