<nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark bg-dark">
	<!-- <h1 class="navbar-brand"></h1> -->
	<section class="font">
        <header>
			<h1 class="main-font">NollePerioden</h1>
			<h1 class="year-font">2018</h1>
        </header>
	</section>
	<button class="navbar-toggler" type="button" (click)="isExpanded = !isExpanded" data-toggle="collapse" aria-controls="navbarContent" [attr.aria-expanded]="!isExpanded">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse menu-mobile" *ngIf="isExpanded" id="navbarContent" [ngbCollapse]="!isExpanded">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-item nav-link" routerLink="/home" routerLinkActive="active" (click)="isExpanded = !isExpanded">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-item nav-link" routerLink="/new-student" routerLinkActive="active" (click)="isExpanded = !isExpanded">Ditt Nolle-P</a>
			</li>
			<li class="nav-item">
				<a class="nav-item nav-link" routerLink="/info" routerLinkActive="active" (click)="isExpanded = !isExpanded">Kontakt</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/scoreboard" routerLinkActive="active" (click)="isExpanded = !isExpanded">Nollekampen</a>
			</li>
		</ul>
	</div>
	<div class="collapse navbar-collapse menu-none-mobile" id="navbarContent">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" routerLink="/home" routerLinkActive="active">
					Home 
					<span class="sr-only"></span>
					<div class="square squareLeft"></div>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/new-student" routerLinkActive="active">
					Ditt Nolle-P 
					<span class="sr-only"></span>
				</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link" routerLink="/info" routerLinkActive="active">
					Kontakt 
					<span class="sr-only"></span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/scoreboard" routerLinkActive="active">
					Nollekampen 
					<span class="sr-only"></span>
					<div class="square squareRight"></div>
				</a>
			</li>
		</ul>
	</div>
</nav>

<router-outlet></router-outlet>
