.bg-image {
    filter: blur(5px);
    z-index: -2;
    transform: scale(1.1); /* to get rid of white edges when blurring*/
    position: absolute;
    background-image: url("/assets/download.png");
    background-repeat: repeat-y;
}

@media screen and (min-width: 600px) {
    .menu-mobile {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
}

@media screen and (max-width: 600px) {
    .menu-none-mobile {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
}

.navbar {
    border-bottom: 3px solid white;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.menu-mobile > a {
    float: none;
    background-color: #343a40;
    
}

.navbar-nav > li {
    display: inline-block;
    float: none;
    transform: translateY(100%);
    background-color: #343a40;
    border-bottom: 3px solid white;
    box-sizing:border-box
}

.square {
    width: 60px;
	height: 40px;
    background-color: #343a40;
    position: absolute;
    border-bottom: 3px solid white;
    z-index: -1;
}

.squareLeft {
    transform: translateX(-75%) translateY(-119%) rotate(45deg);
}

.squareRight {
    transform: translateX(132%) translateY(-118%) rotate(-45deg);
}

/* Font Setup*/
@font-face {
    font-family: font;
    src: url("./../assets/fonts/JurassicPark.woff") format("woff");
}

.font header{
    transform: translateX(-50%) translateY(-40%);
    left: 50%;
    position: absolute;
}

.font header h1 {
    color: #fff;
    font-size: 3rem;
    /* margin: 16px; */
    font-family: font;
}