@brace-color: #fff;

.menu-mobile > a {
	float: none;
	background-color: #343a40;
}

/* Font Setup*/

.main-title {
    color: #fff;
	font-size: 3.5rem;
	display: block;
	text-align: center;
	font-family: Georgia;
	height: 100px;
	margin-top: 5px;
	text-decoration: overline underline  #ff1a68;
	@media screen and (max-width: 600px) {
		font-size: 3.0rem;
	}
}

.year-title {
	position: absolute;
    left: 52%;
    top: 75%;
	transform: translate(-50%, -50%);

	color: #fff;
	font-size: 2.6rem;
	text-align: center;
	font-family: Georgia;
	
	@media screen and (max-width: 600px) {
		left: 55%;
		top: 70%;
		font-size: 1.9rem;
	}
}

/// Images for buttons in the navigation menu
.img-glyph {
	height: 17px;
	width: auto;
	transform: translateY(-15%);
}

li:hover > a:not(.active) img{
	filter: brightness(115%);
}

li > .active > img{
	filter: brightness(150%);
}

li:hover > a span{
	filter: brightness(115%);
}

li > .active > span{
	filter: brightness(115%);
}

li:hover > a span{
	filter: brightness(115%);
}

li > .active > span{
	filter: brightness(115%);
}