<crud>
	<div text>
		<div class=" col-lg-8 title-arrow">
			<h1>Ditt Nollep</h1>
		</div>
		<br>
		<h5>Varför ska du komma på Nolleperioden?</h5>
		<p>Jo för att det är en otroligt rolig period där du snabbt lär känna dina nya kurskamrater och även får många nya vänner bland de olika programmen. Skellefteå har ett ganska litet Campus vilket många här ser som ett stort plus då det bidrar till en trevlig och välkomnande stämning. Alla tar hand om alla och vi accepterar och uppskattar olikheter.</p>
		<br>
		<p><strong>Så</strong> kasta tråkiga fördomar om att nollning bara handlar om pennalism och alkohol åt sidan och ge oss en chans att visa att det är betydligt trevligare än så. Första dagen bjuder vi på mat!</p>
		<br>
		<p>Saker att tänka på inför Nollep:</p>
		<ul style="list-style-type:disc">
			<li>
				<strong>Bjud på dig själv.</strong> 
				Alla tycker det är roligt när man gör bort sig. 
				Därför blir det så mycket roligare om alla gör det hela tiden.
			</li>
			<li>
				<strong>Tag med pengar.</strong> 
				Alla aktiviteter under Nolleperioden är gratis. Däremot har studentpuben Traversen öppet varje kväll under nolleperioden. 
				Traversen är en fantastiskt mysig mötesplats som givetvis också erbjuder alkoholfria alternativ. 
				Man kan emellertid <strong>inte</strong> betala med kort på Traversen - endast kontanter.
			</li>
			<li>
				<strong>Respektera skådespelet.</strong> 
				Det är kul, och det blir så mycket roligare om alla spelar med. 
				Även om du skulle känna att det inte riktigt är din grej - tänk på att respektera andras önskan att delta.
			</li>
        </ul>  
	</div>
</crud>