<div class="mobile-menu-balloon" (click)="isExpanded = !isExpanded" data-toggle="collapse" [attr.aria-expanded]="!isExpanded">
	<div class="hamburger-placement">
		<i class="fas fa-bars"></i>
	</div>
</div>

<div id="mySidebar" class="sidebar" [ngStyle]="{'width.px': isExpanded ? 250 : 0}">
	<a class="closebtn" (click)="isExpanded = !isExpanded">&times;</a>
	<div style="margin: 10px 0 10px">
		<div class="btn-group btn-block">
			<button class="btn btn-danger" disabled="false">
				<span class="fas fa-person-booth" style="color: #000"></span>
			</button>
			<button class="btn btn-block btn-outline-danger" (click)="isExpanded = !isExpanded" routerLink="/vote" routerLinkActive="active">
				Rösta
			</button>
		</div>
		<div class="btn-group btn-block">
			<button class="btn btn-danger" style="width: 44px;" disabled="false">
				<span class="fas fa-exclamation gold-gradient" style="color: gold"></span>
			</button>
			<button class="btn btn-block btn-outline-danger" (click)="isExpanded = !isExpanded" routerLink="/activity" routerLinkActive="active">
				Aktivitet
			</button>
		</div>
		<div class="btn-group btn-block">
			<button class="btn btn-danger" disabled="false">
					<span class="fas fa-trophy gold-gradient" style="color: gold"></span>
			</button>
			<button class="btn btn-block btn-outline-danger" (click)="isExpanded = !isExpanded" routerLink="/scoreboard" routerLinkActive="active">
				Nollekampen
			</button>
		</div>
		<div class="btn-group btn-block">
			<button class="btn btn-danger" disabled="false">
				<span class="fas fa-home" style="color: #000"></span>
			</button>
			<button class="btn btn-block btn-outline-danger" (click)="isExpanded = !isExpanded" routerLink="/home" routerLinkActive="active">
				Hem
			</button>
		</div>
		<div class="btn-group btn-block">
			<button class="btn btn-danger" disabled="false">
				<span class="fas fa-users" style="color: #000"></span>
			</button>
			<button class="btn btn-block btn-outline-danger" (click)="isExpanded = !isExpanded">
				Brev Till Nollan!
			</button>
		</div>
		<div class="btn-group btn-block">
			<button class="btn btn-danger" disabled="false">
				<span class="fas fa-users" style="color: #000"></span>
			</button>
			<button class="btn btn-block btn-outline-danger" (click)="isExpanded = !isExpanded" routerLink="/new-student" routerLinkActive="active">
				Ditt Nolle-P
			</button>
		</div>
		<div class="btn-group btn-block">
			<button class="btn btn-danger" (click)="isExpanded = !isExpanded" disabled="false">
				<span class="fas fa-gamepad" style="color: #000"></span>
			</button>
			<button class="btn btn-block btn-outline-danger">
				Spel
			</button>
		</div>
	</div>
</div>