.vote-content-center {
    text-align: center;
}

.fas {
    font-size: 100px;
    margin-left: 30px;
    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
}

.fa-laugh {
    color: Green;
    transform: translateY(75%);
}

.fa-grin {
    color: greenyellow;
}

.fa-frown {
    color: yellow;
}

.fa-frown-open {
    color: red;
    transform: translateY(75%);
}