/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
    background-image: url("/assets/tiles/cartographer.png");
    background-repeat: repeat;
}