/* You can add global styles to this file, and also import other style files */
body {
    // overflow-x: hidden;
    background-image: url("/assets/tiles/cartographer.png");
    background-repeat: repeat;
    color: #656566;
}

.sponsor-img {
    width: 50%;
    height: autor;
}

/* Font Family Setup*/
@font-face {
    font-family: jurrasic-park;
    src: url("/assets/fonts/JurassicPark.woff") format("woff");
}
@font-face {
    font-family: star-jedi;
    src: url("/assets/fonts/Starjedi.woff") format("woff");
}

.img-glyph {
	height: 17px;
	width: auto;
	transform: translateY(-15%);
}

.title-arrow {
    border-left: 22px solid rgba(238, 21, 68, 0.85);
    border-right: 50px solid transparent;
    border-top: 50px solid rgba(238, 21, 68, 0.85);
    margin: 0 -25px 0 -15px;

    > h1, > h2, > h3, > h4 {
        // margin-left: -15px;
        // margin-right: -15px;
        position: absolute;
        top: 100%;
        left: 0%;
        transform: translate(-0%, -100%);
        width: calc(100% + 50px);
    }
}